@import '../../global/styles/utils/mixins';

.ctaPanel {
    @include container(600px);
    text-align: center;
    padding: 4rem;
}

.headline {
    font-size: 2rem;
    @media (max-width: $fablet) {
        font-size: 1.6rem;
        line-height: 1.4;
    }
    margin-bottom: 2rem;
}

.button {
    @include btn-primary();
}