@import '../../global/styles/utils/mixins';
@import '../../global/styles/foundation/theme';
@import '../../global/styles/foundation/breakpoints';


.footerContainer {
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.8rem;
    
    @media(max-width: $tablet) {
        display: block;
    }

    ul {
        margin-top: 1rem;
        padding-left: 0.2rem;
        @media(max-width: $desktop-small) {
            display: none;
        }

        li a {
            font-size: 0.8rem;
            display: block;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}

.footerSocials {
    font-size: 18px;
    text-align: center;
}

.logo {
    max-width: 300px;
    margin-top: 0.5rem;
    text-align: left;

    @media(max-width: $tablet) {
        text-align: center;
        margin: 0 auto;
    }

    figcaption {
        margin-top: 0.6rem;
        font-family: var(--serif);
        font-style: italic;
        text-transform: lowercase;

        a {
            text-decoration: underline;
        }
    }

    @media(max-width: $fablet) {
        max-width: 100%;
    }

    img {
        max-width: 240px;
    }

}

.copyrightContainer {
    font-family: var(--serif);
    font-style: italic;
    font-weight: 100;
    text-transform: lowercase;
    text-align: right;
    width: 100%;

    @media(max-width: $tablet) {
        text-align: center;
    }

    span, a {
        color: $brand-black;
        display: block;
    }
    a {
        text-decoration: underline;
    }
}

.social a {
    font-size: 1.0rem;
    color: var(--brand-one);
    padding: 0.6rem;
    margin: 0.3rem;
}

// ie fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .footerContainer nav {
        display: none;
    }
}